<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weilus.dao.Auth2ClientDao" >

	  <resultMap type="Auth2ClientDetailsEntity" id="rm_Auth2ClientDetailsEntity">
			<result column="CLIENT_ID" property="clientId"></result>
			<result column="CLIENT_SECRET" property="clientSecret"></result>
			<result column="SCOPES" property="scopes"></result>
			<result column="GRANT_TYPES" property="grantTypes"></result>
			<result column="ACCESS_TOKEN_VALIDITY_SECONDS" property="accessTokenValiditySeconds"></result>
			<result column="REFRESH_TOKEN_VALIDITY_SECONDS" property="refreshTokenValiditySeconds"></result>
	  </resultMap>

	 <select id="loadClientByClientId" resultMap="rm_Auth2ClientDetailsEntity">
		 SELECT
		  CLIENT_ID,
		  CLIENT_SECRET,
		  SCOPES,
		  GRANT_TYPES,
		  ACCESS_TOKEN_VALIDITY_SECONDS,
		  REFRESH_TOKEN_VALIDITY_SECONDS
		  FROM T_AUTH2_CLIENT WHERE CLIENT_ID=#{clientId}
	 </select>

</mapper>